{{!-- <h1>Eat-Da-Burger!</h1>

<h2>Burgers That Are Not Devoured!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
        <p>Burger Name: {{this.burger_name}}
        {{> burger/devour-block devour=true}}
        </p>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers That Are Devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
        <p>Burger Name: {{this.burger_name}}
        {{> burger/devour-block devour=false}}
        </p>    
    {{/if}}
  {{/each}}
</ul>

<h2>Add A Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger_name">Burger Name:</label>
    <input type="text" id="burger_name" name="burger_name">
  </div>

  <button type="submit">Add A Burger</button>
</form> --}}

<nav class="navbar bg-dark">
  <img src="/assets/image/logo.png" height="80" class="d-inline-block align-top mx-auto">
</nav>
<div class="container my-5">
  <div class="row">
    <div class="col">
      {{> devour-block}}
    </div>
    <div class="col">
      {{> burger-list}}
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-6 offset-md-3">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Burger Name" name="burger_name" id="burger_name">
        <div class="input-group-append">
          <button class="btn btn-outline-success" type="button" id="addBurger">Add Burger</button>
        </div>
      </div>
    </div>
  </div>
</div>