<div class="card">
    <div class="card-header text-center">
        <h4>Devoured Burgers</h4>
    </div>
    <div class="card-body">
        {{#each devoured}}
        <div>
            <p>{{id}}.) {{burger_name}}
            </p>
        </div>
        {{/each}}
    </div>
</div>